body {
background: url(Images/fondo.jpeg) no-repeat center center fixed;
background-size: cover;
}
.titulo{
  border-radius: 110px;
  background-color: #FFEEAF;
  margin: auto;
  margin-top: 100px;
  width: 50%;
  text-align: center;
  font-size: 18px;
}
.endquote{
  border-radius: 110px;
  width: 30%;
  background-color: #5C2E7E;
  margin: auto;
  margin-top: 200px;
  font-size: 10px;
  color: white;
  font-style: italic;
  text-align: center;
  position: relative;
}
