body {
background: url(Images/fondo.jpeg) no-repeat center center fixed;
background-size: cover;
}
.titulo{
  border-radius: 100px;
  background-color: #FFEEAF;
  margin: auto;
  margin-top: 150px;
  width: 50%;
  text-align: center;
  font-size: 18px;
}
.endquote{
  width: 60%;
  margin: auto;
  font-size: 5px;
  color: white;
  font-style: italic;
  text-align: center;
  position: relative;
}
.autor{
  text-align: center;
  font-size: 3px;
}
